<%- include("../partials/header.ejs"); %> 

<% let type; %> 
<% if (title ==="Student Login" ) { %>  
<%    type="student" %>  
<% } else if (title ==="Staff Login" ){ %>  
<%    type="staff" ; %>  
<% }else { %> 
<%    type="admin"; %>  
<% } %>  

<% if (error){ %>
    <span class="error"> <%= error %> </span>
<% } %>

<div class="wrap_form_wrapper">
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2 class="header"><%= title %></h2>
      </div>

      <div class="row clearfix">
        <div class="">
          <form method="POST" action="/login" class="form-body">
            <div class="input_field">
              <input
                class="form-field first-field"
                type="text"
                placeholder="Email"
                name="email" value=""/>
              <div class="error"></div>
            </div>

            <div class="input_field">
              <input
                class="form-field last-field"
                type="password"
                placeholder="Password"
                name="password"
                value=""
              />
              <div class="error"></div>
            </div>

            <div class="input_field">
              <input type="hidden" name="type_of_user" value=<%= type %>
              />
              <div class="error"></div>
            </div>

            <input type="hidden" name="route" value="" />

            <div class="input_field checkbox_option">
              <input type="checkbox" id="remember" />
              <label for="cb1">I agree with terms and conditions</label>
            </div>

            <input class="button" type="submit" name="submit" value="Login" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/js/staff/login_validation.js"></script>

<%- include("../partials/footer.ejs") %>
